@model IEnumerable<Cibertec_Examen_Final.model.bookAuthor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.authors.au_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.books.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royaltyper)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.authors.au_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.books.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.royaltyper)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.au_ord }) |
            @Html.ActionLink("Details", "Details", new { id=item.au_ord }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.au_ord })
        </td>
    </tr>
}

</table>
